{% load static %}
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">

                <div class="ml-auto col-lg-5 col-md-6 col-12">
                    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Contate - Nos</h2>

                    <form action="{% url 'index' %}" method="POST"   id="contato" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="nome" id="nome"  placeholder="Nome">

                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">

                        <textarea class="form-control" rows="5" name="mensagem" id="mensagem"  placeholder="Mensagem"></textarea>

                        <button type="submit" class="form-control" id="submit-button" name="submit">Enviar  Mensagem</button>
                    </form>
                </div>

                <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Como Voçê pode <span>encontra nos</span></h2>

                    <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> 120-240 Rio de Janeiro - State of Rio de Janeiro, Brazil</p>
<!-- How to change your own map point
1. Go to Google Maps
2. Click on your location point
3. Click "Share" and choose "Embed map" tab
4. Copy only URL and paste it within the src="" field below
-->

                    <div class="container" >
                        {% if messages %}
                        {% for m in messages %}
                            <div class="alert alert-{{m.tags}}">
                                <button type="button" class="close" data-dismiss="alert" ></button>
                                <strong>{{m}}</strong>   
                                
                            </div>     
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                
        </div>
    </div>
</section>