{% load static %}
<footer class="site-footer">
    <div class="container">
        <div class="row">

                <div class="ml-auto col-lg-4 col-md-5">
                    <p class="copyright-text">Copyright &copy; 2021 Athletica Fit Co.
                    
                    <!-- <br>Design: <a href="https://www.tooplate.com">Tooplate</a></p> -->
                </div>

                <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                    <p class="mr-4">
                        <i class="fa fa-envelope-o mr-1"></i>
                        <!-- <a href="#">hello@company.co</a> -->
                    </p>

                    <p><i class="fa fa-phone mr-1">+55 19</i> 98317-5323 </p>
                </div>
                
        </div>
    </div>
</footer>