{% load static %}            
            <!-- base  -->
            {% include 'base.html' %}

            <!-- HERO -->
            {% include 'hero.html' %}
            <!--  -->

            <!-- ABOUT -->
            {% include 'about.html' %}
            <!--  -->

            <!-- CLASS -->
            {% include 'class.html' %}
            <!--  -->


            <!-- SCHEDULE -->
            {% include 'schedule.html' %}
            <!--  -->

            <!-- CONTACT -->
            {% include 'contact.html' %}
            <!--  -->

            <!-- FOOTER -->
            {% include 'footer.html'  %}
            <!--  -->


            <!-- Modal -->
            {% include 'modal.html' %}

            <!-- SCRIPTS -->
            <script src="{% static 'js/jquery.min.js'%}"></script>
            <script src="{% static 'js/bootstrap.min.js'%}"></script>
            <script src="{% static 'js/aos.js'%}"></script>
            <script src="{% static 'js/smoothscroll.js'%}"></script>
            <script src="{% static 'js/custom.js'%}"></script>
      
</body>
      
</html>