{% load static %}
<div class="modal fade" id="membershipForm"  role="dialog"   tabindex="-1"  aria-labelledby="membershipFormLabel" aria-hidden="true"  >
    
    
    <div class="modal-dialog" role="document">

        <div class="modal-content">
        <div class="modal-header">


            <h2 class="modal-title" id="membershipFormLabel"><a href="https://api.whatsapp.com/send/?phone=5519983175323&text&app_absent=0">Whatsapp Contato</a></h2>
<!-- Membership Form -->
            <button  type="button" class="close" data-dismiss="modal" aria-label="Close">

            <!-- <span aria-hidden="true">&times;</span> -->
            </button>
        </div>

        <!-- <div class="modal-body">
            <form class="membership-form webform" role="form" id="contato" method="POST"  action="{% url 'index' %}" >
                {% csrf_token %}
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">

                <input type="email" class="form-control" name="email" id="email"  placeholder="Digite Seu Email">

                <input type="tel" class="form-control" name="numero" id="numero"  placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                <textarea class="form-control" rows="3" name="mensagem" id="mensagem"  placeholder="Adcione uma  Mensagem"></textarea>

                <button type="submit" class="form-control" id="submit-button" name="submit">Enviar Email </button>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="signup-agree">
                    <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                    </label>
                </div>
            </form>
        </div>

        <div class="modal-footer"></div>

        </div> -->
    </div>
    </div>